<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <title>Add Employee</title>
  <style>
    body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    main {
      flex: 6;
    }

    footer {
      margin-top: auto;
    }
  </style>
</head>

<body>
  <form action="add-employee" method="POST">
    <section class="hero is-info is-family-secondary is-italic">
      <div class="hero-body">
        <p class="title is-4">Employee Information System</p>
        <p class="subtitle is-5 is-family-monospace">Bernalyn Mecurio Benedicto</p>
      </div>
    </section>

    <div class="columns is-gapless">
      <div class="column is-one-fifth">
        <section class="hero has-background-primary">
          <div class="hero-body">
            <p class="subtitle is-5 is-family-sans-serif has-text-weight-bold">Employee List</p>
          </div>
        </section>

        <section class="hero has-background-info">
          <div class="hero-body">
            <p class="subtitle is-5 is-family-sans-serif has-text-weight-bold">Personal Info</p>
          </div>
        </section>

        <section class="hero has-background-primary">
          <div class="hero-body">
            <p class="subtitle is-5 is-family-sans-serif has-text-weight-bold">Educational Info</p>
          </div>
        </section>

        <section class="hero has-background-info">
          <div class="hero-body">
            <p class="subtitle is-5 is-family-sans-serif has-text-weight-bold">Work Exp</p>
          </div>
        </section>

        <section class="hero has-background-primary">
          <div class="hero-body">
            <p class="subtitle is-5 is-family-sans-serif has-text-weight-bold">Trainings</p>
          </div>
        </section>

        <section class="hero has-background-info">
          <div class="hero-body">
            <p class="subtitle is-5 is-family-sans-serif has-text-weight-bold">Logout</p>
          </div>
        </section>
      </div>

      <div class="column is-centered">
        <section class="title is-4 is-family-secondary has-text-weight-bold">
          <div class="hero-body">
            <p class="title has-text-centered">
              <b>ADD EMPLOYEE</b>
            </p>
          </div>
        </section>

        <div style="max-width: 900px;" class="container">
          <div class="box has-background-primary has-text-white">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label has-text-white">EMPLOYEE ID</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" name="emp_id" placeholder="Enter employee id">
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label has-text-white">LAST NAME</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" name="lname" placeholder="Enter last name">
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label has-text-white">FIRST NAME</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" name="fname" placeholder="Enter first name">
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label has-text-white">MIDDLE NAME</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" name="mname" placeholder="Enter middle name">
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label has-text-white">ADDRESS</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" name="address" placeholder="Enter address">
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label has-text-white">BIRTHDAY</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="date" name="birthday" placeholder="Enter birthday">
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label has-text-white">CIVIL STATUS</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="select">
                    <select name="civil_status">
                      <option></option>
                      <option>SINGLE</option>
                      <option>MARRIED</option>
                      <option>IN AN OPEN RELATIONSHIP</option>
                      <option>WIDOWED</option>
                      <option>KABIT</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="field is-grouped is-grouped-centered">
              <div class="control">
                <button class="button is-link" type="submit">Save</button>
              </div>
              <div class="control">
                <a class="button is-light" href="{{ url_for('employee_list') }}">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="content has-text-centered">
        <p></p>
      </div>
    </footer>
  </form>
</body>

</html>
