<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='bulma/bulma.css') }}">
  <title>EMPLOYEE LIST</title>
  <style>
    .custom-width-table {
      width: 90%; 
      margin: 0 auto; 
    }
  </style>
</head>

<body>
  <section class="hero is-1 has-background-info is-family-secondary is-italic">
    <div class="hero-body">
      <p class="title is-4">Employee Information System</p>
      <p class="subtitle is-5 is-family-monospace">Bernalyn Mecurio Benedicto</p>
    </div>
  </section>

  <div class="columns is-gapless">
    <div class="column is-one-fifth">
      <section class="hero has-background-primary">
        <div class="hero-body">
          <p class="subtitle is-5 is-family-sans-serif has-text-weight-bold">Employee List</p>
        </div>
      </section>

      <section class="hero has-background-info">
        <div class="hero-body">
          <p class="subtitle is-5 is-family-sans-serif has-text-weight-bold">Personal Info</p>
        </div>
      </section>

      <section class="hero has-background-primary">
        <div class="hero-body">
          <p class="subtitle is-5 is-family-sans-serif has-text-weight-bold">Educational Info</p>
        </div>
      </section>

      <section class="hero has-background-info">
        <div class="hero-body">
          <p class="subtitle is-5 is-family-sans-serif has-text-weight-bold">Work Exp</p>
        </div>
      </section>

      <section class="hero has-background-primary">
        <div class="hero-body">
          <p class="subtitle is-5 is-family-sans-serif has-text-weight-bold">Trainings</p>
        </div>
      </section>

      <section class="hero has-background-info">
        <div class="hero-body">
          <p class="subtitle is-5 is-family-sans-serif has-text-weight-bold">Logout</p>
        </div>
      </section>
    </div>
    <div class="column is-centered"> 
      <section class="hero is-1 is-family-secondary is-italic">
        <div class="hero-body">
          <p class="title is-4">Employee List</p>
        </div>
      </section>
    
      <div class="table-container">
        <table class="table is-bordered mx-6 custom-width-table"> 
          <thead>
            <tr>
              <th class="is-link"><center>Employee</center></th>
              <th class="is-primary"><center>Last Name</center></th>
              <th class="is-link"><center>First Name</center></th>
              <th class="is-primary"><center>Gender</center></th>
              <th class="is-link"><center>Position</center></th>
          </thead>
        <tbody>
          <tr style="height: 10vh;">
            <td><center>Employee</center></td>
            <td><center>Benedicto</center></td>
            <td><center>Bernalyn</center></td>
            <td><center>Female</center></td>
            <td><center>Manager</center></td>
          </tr>

          <tr style="height: 10vh;">
            <td><center>Employee</center></td>
            <td><center>Benedicto</center></td>
            <td><center>Saif Aldridge</center></td>
            <td><center>Male</center></td>
            <td><center>Assistant Manager</center></td>
          </tr>

          <tr style="height: 10vh;">
            <td><center>Employee</center></td>
            <td><center>Alcaide</center></td>
            <td><center>Aldrin</center></td>
            <td><center>Male</center></td>
            <td><center>Secretary</center></td>
          </tr>

          <tr style="height: 10vh;">
            <td><center>Employee</center></td>
            <td><center>Bisnan</center></td>
            <td><center>Chmod</center></td>
            <td><center>Bayot</center></td>
            <td><center>Matcho Dancer</center></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</body>

</html>
