<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bulma/bulma.css">
    <title>LOGIN</title>
    <style>
        .container {
            margin-top: 50px;
            max-width: 500px;
        }
        .button {
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-10-tablet is-8-desktop">
                <h1 class="title is-3 has-text-centered has-text-danger has-text-weight-bold">LOGIN</h1>
                <form class="box has-background-danger-light">
                    <div class="field">
                        <label class="label">USERNAME</label>
                        <div class="control">
                            <input class="input" type="text" name="username" placeholder="e.g. sabbak@example.com" required />
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">PASSWORD</label>
                        <div class="control">
                            <input class="input" type="password" name="password" placeholder="********" required />
                        </div>
                    </div>
                    <div class="field has-text-centered">
                        <button type="submit" class="button is-danger has-text-white">LOGIN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
